.backgroundDiv{
    width: 700px;
    height: 800px;
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 50px;
    background-color: whitesmoke;
}
.backgroundDiv .customer-title h1{
    padding: 20px;
    text-align: center;
}
.backgroundDiv .customer-title p{
    text-align: center;
    margin-top: 50px;
    padding: 0 80px;
}
.mainDiv{
   background-color: transparent;
   margin-top: -550px;
}
.customer-says{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid: gap 5px; 
    /* margin-right: 20px; */
}
.customer-main{
    display: flex;
}
.card-customer-image img{
    width: 120px;
    height: 350px;
}
.card-customer-image .right-quote{
    margin-left: 100px;
}
.customer-paragraphDiv{
    /* padding: 20px; */
    margin-top: 15px;
    margin-left: 10px;
}
.customer-paragraphDiv p{
    text-align: justify;
    font-size: 15px;
    margin-top: 30px;
}
.customer-paragraphDiv h1{
    margin-top: 80px;
    font-size: 18px;
    font-weight: bold;
}
.customer-review i{
    font-size: 12px;
    margin-top: 50px;
}
.customer-review{
    display: flex;
}
.customer-review h4{
    font-size: 15px;
    margin-top: 50px;
}
.customer-review .countN{
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 52px;
}
.customer-review .istar{
    color: orange;
}
.dotIcon{
    font-size: 50px;
    margin-left: 50%;
    color: orange;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .customer-says{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .backgroundDiv{
        width: 400px;
        height: 800px;
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 120px;
        background-color: whitesmoke;
    }
    .backgroundDiv .customer-title h1{
        padding: 10px;
        text-align: center;
    }
    .backgroundDiv .customer-title p{
        text-align: center;
    }
}

@media screen and (min-width:992px){
    .customer-says{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .backgroundDiv{
        width: 700px;
        height: 800px;
        margin-top: 50px;
        margin-left: 130px;
        margin-bottom: 120px;
        background-color: whitesmoke;
    }
    .backgroundDiv .customer-title h1{
        padding: 10px;
        text-align: center;
    }
    .backgroundDiv .customer-title p{
        text-align: center;
    }
}
@media screen and (min-width:1200px){
    .backgroundDiv{
        width: 700px;
        height: 800px;
        margin: 50px 0 50px 250px;
        background-color: whitesmoke;
    }
    .customer-says{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        margin-right: 20px;
    }
}
